@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

$primary-color: #5680e9;
$secondary-color: #84ceeb;
$light-color: #5ab9ea;
$dark-color: #c1c8e4;
$opt-color: #8860d0;
$light-font-color: #f4f4f4;

$first-color: #ffb142;
$second-color: #ffda79;
$third-color: #008cda;
$first-hover-color: #cc8e35;
$second-hover-color: #ccae62;
